/* Stile generale del body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #b9c8ee;
}

.title {
  text-align: center;
  margin: 20px;
}

/* Stile della barra di navigazione */
.navbar {
  background-color: #183ba3;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.navbar-header h1 {
  margin: 0;
}

/* Stile della lista di link della navbar */
.navbar-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Stile degli elementi della lista di link */
.navbar-links li {
  margin-left: 20px;
}

/* Rimuovi il margine per il primo link */
.navbar-links li:first-child {
  margin-left: 0;
}

/* Stile dei link */
.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Stile dei link al passaggio del mouse */
.navbar-links li a:hover {
  color: #0b0b0b;
}

/* Stile del contenitore del riquadro */
.page-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

/* Stile del riquadro del contenuto */
.page-content {
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  box-sizing: border-box;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.contact-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 50px;
}

.contact-icons a:hover {
  color: #183ba3;
}

.github {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
